<div class="col-lg-8 ">
  <div class="order-desc">
    <%=simple_form_for(resource, as: resource_name, url: registration_path(resource_name), 
    :html => {:class => 'form-horizontal' }) do |m| %>
    <div class="input-form">
      <%= m.input :username, :class=>"form-control", :placeholder=>"Имя"%>
    </div>
    <div class="input-form">
      <%=m.input :email, :class=>"form-control", :placeholder=>"Email" %>
    </div>
    <div class="input-form">
      <%=m.input :password, :class=>"form-control", :placeholder=>"Новый пароль" %>
    </div>
    <div class="input-form">
      <%=m.input :password_confirmation, :class=>"form-control", :placeholder=>"Повторите пароль" %>
    </div>
    <div class="input-form">
      <%=m.input :current_password, :class=>"form-control", :placeholder=>"Пароль на данный момент" %>
    </div>
    <div class="regbutton">
      <%=m.button :submit, :class=>"new-btn1"%><br />
<!--        or <br />
<%= render "devise/shared/links" %>
</div> -->
      <% end %>
    </div>
  </div>
</div>

