<div class="col-lg-9 order-list1">

<% if @orders.empty? %>
<h4 class="empty-list"> Список ваших заказов пуст. Чтобы создать заказ, нажмите кнопку на верхней панели </h4>
<% else %>
<%= @orders.each do |order| %>
<div class="order">
<img src=""></img>
<div>

<h3><%=order.title %></h3>

<p class="comment"><%=order.desc%></p>
<ul class="hr">

<li><%=order.created_at%></li>
<li>ответа</li>
<li><%=order.price %>руб</li>

</ul>

</div>
<hr>
<% end %>
</div> <% end %>
</div>