

<div class="regbutton"><h2>Sign up</h2>
</div>
 <div class="container">
  <div class="span4 well">
    <div class="col-sm-offset-2.col-sm-10">
       <%=simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |m| %>

         <div class="user_input">
           <div class="form-group">
            <div class="col-sm-6">
              <%= m.input :username%>
              <%=m.input :email %>
              <%=m.input :password %>
              <%=m.input :password_confirmation %>
     	        <%= m.radio_button :user_type, 'Заказчик', checked: true%>
               <%= m.label :user_type, 'Заказчик'%>
               <%= m.radio_button :user_type, 'Исполнитель'%>
               <%=m.label :user_type, 'Исполнитель'%>
           </div> 
          </div> 
        </div>
      
      <div class="regbutton">
          <%=m.button :submit %><br />
       or <br />
         
        </div>

    <% end %>

  </div>
</div>
</div>
