      <%= form_for(resource, as: resource_name, url: session_path(resource_name), 
      :html => {:class => 'form-horizontal' }) do |f| %>
            <div class="input-form">
              <%=f.email_field :email, :class=>"form-control padding-10", :placeholder=>"Email" %> 
            </div>
            <div class="input-form">
              <%=f.password_field :password, :class=>"form-control", :placeholder=>"Пароль" %>  
            </div>         
              <%= f.submit 'Войти', :class => "form-control btn-new" %>
              <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
              <label><%= f.check_box :remember_me %>Запомнить меня</label>
              </div>
            <% end %>     
            <% end %>