
<div class="row padding-100">
  <div class="col-lg-3 grey">
    <div class="category red">
      <h3 class="category">Категории</h3>
      <% tag_cloud Order.tag_counts, {} do |tag| %>
      <ul>
        <li><%= link_to tag.name, tag_path(tag.name) %></li>
      </ul>
    <% end %>
    </div>
  </div>

  <div class="col-lg-9 order-list">
  <% if @orders.empty? %>
  <p class="empty-list">Список заказов пуст.</p>
  <% else %>
  <%= @orders.each do |order| %>
    <div class="order">
      <img src=""></img>
    <div>
    <h3> <%= link_to order.title, order %></h3>
    <p class="comment"><%=order.desc%></p>
    <ul class="hr">
      <li><%=order.created_at%></li>
      <li><%=order.price %>руб</li>
    
    </ul>
    </div><hr>   </div><% end %>
 
  </div><% end %>
</div>








