<div class="col-lg-9 col-md-9">
  <div class="order-desc">
    <h3><%= @order.title %></h3>
    <h4>Описание:</h3>
    <p><%= @order.desc %></p>
    <hr>
    <h4>Бюджет: <%= @order.price %></h4>
    <h4>Сроки: <%= @order.time %></h4>
    <hr>
    <h4>Прикрепленные файлы</h3>
    <img class ="attach" src=""></img>
    <img class ="attach" src=""></img>
  </div>

  <div class="order-comments">
    <h4>Ответы (<%=@comments.count%>)</h4>
    <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
  </div>
  <div class="order-comments"> 
     <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
  </div>
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>

<div class="col-lg-3 col-md-3">
  <div class="ads">
    <h3>Реклама</h3>
  </div>
</div>


